[
    {amqp_client, [
        {ssl_options, [
            {cacertfile, "/etc/rabbitmq/ca_certificates.pem"},
            {certfile, "/etc/rabbitmq/certs/client_rmq0_certificate.pem"},
            {keyfile, "/etc/rabbitmq/certs/client_rmq0_key.pem"},
            {verify, verify_peer},
            {fail_if_no_peer_cert, true}
        ]}
    ]}
].
