[
    {amqp_client, [
        {ssl_options, [
            {auth_mechanism, external},
            {cacertfile, "/etc/rabbitmq/certs/ca_certificate.pem"},
            {certfile, "/etc/rabbitmq/certs/client_rmq0_certificate.pem"},
            {keyfile, "/etc/rabbitmq/certs/client_rmq0_key.pem"},
            {verify, verify_peer},
            {fail_if_no_peer_cert, true}
        ]}
    ]}
].
