[
    {amqp_client, [
        {ssl_options, [
            {auth_mechanism, external},
            {cacertfile, "/home/lbakken/development/lukebakken/rabbitmq-users-4zRHj0C2ONM/certs/rmq0/ca_certificate.pem"},
            {certfile, "/home/lbakken/development/lukebakken/rabbitmq-users-4zRHj0C2ONM/certs/rmq0/client_rmq0_certificate.pem"},
            {keyfile, "/home/lbakken/development/lukebakken/rabbitmq-users-4zRHj0C2ONM/certs/rmq0/client_rmq0_key.pem"},
            {verify, verify_peer},
            {fail_if_no_peer_cert, true}
        ]}
    ]}
].
